:root {
  --main-color1: #1a1a1d;
  --main-color2: #141417;
  --size-block:75px;
}
body{
	font-family: 'Play', sans-serif;
	/*margin-top: 40px;*/
}
h1,h2,h3,h4,h5,h6{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
a:visited,a:active  {
   color: white; /* Цвет посещенных ссылок */
}

p{
	color:#999b9d;
}
/* List elements
	1)Slider
	2)Section-1
	
*/
/*Slider*/
.gif{
	width: 300px;
}
.slide {
	height: 700px;

}
.carousel-inner .d-block{
	width: 100%;
	height: 700px;
}
.slide-content{
	padding-top: 50px;
	width: 100%;
	position: absolute;
	margin-top: 50px;
} 
.slider-main{
	width: 100%;
	text-align: center;
}
.slider-main h2{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}
.slide-link{
	font-size: 30px;
	text-transform: uppercase;
}
/*End Slider*/
/*All section*/
.section-1, .section-2, .section-3, .section-4{
	width: 100%;
	padding: var(--size-block) 60px;
}
 /*block-content*/
/*Section-1*/
.section-1,.section-3,.section-5,.section-7{
	background-color: var(--main-color1);
	padding: var(--size-block) 60px;
}
.section-1 .content{
	padding: 10px;
	display: flex;
	justify-content: center;
}
.section-1 .content .block{
	padding: 10px;
}
.section-1 .content .block img{
	width: 150px;
}
/*END*//*Section-2*/
.section-2,.section-4,.section-6,.section-8{
	background-color: var(--main-color2);
	padding: var(--size-block) 60px;
}
.gif-400{
	width: 400px;
}
.w-300{
	width: 300px;
}
.input-style-1{
	border:2px solid  #f50;
	border-radius: 8px;
	width: 300px;
}
.input-style-1 :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
/*Block-price*/
.block-price{
	margin-top: 40px;
}
.block-price .header{
	background-color: #f50;
	padding: 20px 0px;
	color: white;
}
.block-price .header-vip{
	background-color: #000000;
	padding: 20px 0px;
	color: white;
}
.block-price .cost{
	background-color: var(--main-color1);
	padding: 5px 0px;
}
.block-price .content{
	background-color:#282831;
	padding: 40px 20px;
	min-height: 400px;
}

.block-price .content ul{
	/*margin:0px;*/
	/*padding:0px;*/
	margin-left: 25px;
}
.block-price .content li{
	color: white;
	/*list-style-type: none; */
}
.button3{
	background-color: #f50;
	padding: 20px;
	color: white;
	text-transform: uppercase;
	margin-top: 10px;
	display:inline-block;
	font-weight: bold;
}
.block-price .content-button{
	background-color:#282831;
	padding-bottom: 20px;
}
.cooperation, .contacts,.about-project{
	background-color: #1a1a1d;
	padding: 100px;
}
.cooperation ul,.about-project ul{
	list-style: none;
}

.cooperation,.about-project ul li{
	color: #999b9d;
}

.cooperation ul,.about-project ul li:before {
    content:  "-";
    position: relative;
    left:-5px;
}
.dropdown-menu{
	min-width: 0px;

}
.btn-group, .btn-group-vertical{
	margin-right: 15px;	
}