.navbar{
	background-color: #121212;
	position: fixed;
	width: 100%;
	text-transform: uppercase;
	padding-left: 90px;
	padding-right: 90px; 
	z-index: 30;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    cursor: pointer;
}
a.button1,.button2{
	font-weight: bold;
	padding:5px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.button1{
	border:1px solid white;
	text-decoration: none;
}
a.button2{
	color: white;
	font-weight: bold;
	padding:5px 20px;
	background-color: #f50;
	text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover {
    color: white;
    text-decoration: none;
}

.navbar-collapse .fab{
	margin-right: 20px;
	color: #999b9d;
	font-size: 22px;
}
.navbar-collapse .fab:hover{
	color: white;
}
@media screen and (max-device-width: 580px) {
    .navbar{
    	padding-left: 20px;
    	padding-right: 20px;
    }
}